@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


* {
  padding: 0%;
  margin: 0;
  font-family: Roboto, "Roboto Condensed", serif;
}

body {
  width: 95%;
  margin: 10px auto;
  
}
/* navbar  */

.nav-bar {
  background-color: red;
  font-size: 1em;
  color: white;
  padding-bottom: 5px;
}

.nav-ul {
  /* background-color: aquamarine; */
  /* display: inline-block; */
  float: right;
}

.nav-ul li {
  display: inline;
  margin: 10px 10px 8px;
  /* list-style: none; */
}
.nav-ul a {
  text-decoration: none;
  color: white;
}

.navdiv-logo {
  float: left;
  
  /* display: inline; */
  /* background-color: lightblue; */
}
.navdiv-logo a {
  text-decoration: none;
  color: white;
  margin-right: 7px;
}
/* search bar */
.headertag {
  background-image: url(./images/city-scape.svg);
  height: 450px;
  padding: 5px;
}

.searchbar li {
  float: left;
  list-style: none;
}
.npmlogo img {
  height: 35px;
}
.npmbear img {
  height: 35px;
  margin-left: 10px;
}

.magnifier {
  width: 5%;
}

.signlogin {
  text-align: center;
  
}
.signlogin a {
  text-decoration: none;
  color: white;
}

.searchbox-input {
  width: 70%;
  margin: 3px 5px;
  background-color: rgb(40,90,120);
  
}
.searchbox-input input {
  width: 100%;
  background-color: rgb(40,90,120);
  border: black solid 1px;
}
.build-amazing {
  
  width: 40%;
  padding: 5%;
  color: white;
  position: relative;
  top: 5%;
  left: 10%;
}

.build-amazing  button {
  color: white;
  background-color: #EE913A;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
}

/* section1 */
.sectionone {
  background-image: url(./images/collaboration.svg);
  background-color: #283546;
  background-size: 30%;
  background-position-y: center;
  background-position-x: 35%;

  background-repeat: no-repeat;
  height: 450px;
  padding: 15px;
}
.s1-texto {
  float: right;
  position: relative;
  top: 25%;
  color: white;
}


.s1-texto button {
  color: white;
  background-color:  #C73136;
  padding: 15px;
  border-radius: 30px;
  margin-top: 10px;
}

.s1-texto a {
  color: white;
  text-decoration: none;
  display: block;
}


 /* clearfix hack */
.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  *zoom: 1;
}